datasets/SuburbData26Q1.csv
datasets/crime_sydney.csv
datasets/crime_long.csv
datasets/crime_rates.csv

# ABS Census Data
datasets/2021Census*.csv
metadata/*.xlsx

# ABS shapefile
SAL_2021_AUST_GDA94_SHP/